/* Work Sans Font */
@font-face {
  font-family: 'SAP Sports Icons';
  src:
    url('weiweihuanghuang.github.io/Work-Sans/fonts/ttf/WorkSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
