/* Work Sans Font */
@font-face {
  font-family: 'SAP Sports Icons';
  src:
    url('https://sandrazaepfel.github.io/WorkSans/Work-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
