/* Work Sans Font */
@font-face {
  font-family: 'SAP Sports Icons';
  src:
    url('https://github.com/weiweihuanghuang/Work-Sans/blob/master/fonts/ttf/WorkSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
